html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: rgba(9,102,121,1);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,102,121,1) 27%, rgba(0,212,255,1) 100%);

  font-size: 1.6em;
}

#app {
}

.container {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

  padding: 3em 1em;

  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}