.polaroid, img {
  border-radius: 0.18em;
}

.polaroid {
  max-width: 300px;
  height: 400px;
  padding: 18px;

  background-color: white;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0;
  text-transform: capitalize;
}

.overflow-dots {
  display: -webkit-box;
  text-align: justify;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}